{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          Chai aur Django
        {% endblock title %}
      </title>
      {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="bg-red-600 text-2xl text-white ">I will add it later</nav>
    {% block content %}
    
    {% endblock %}
    {% block image %}
    
    {% endblock %}
</body>
</html>